

/* .icon-block {
  padding: 0 15px;
}
.icon-block */

.material-icons {
	font-size: inherit;
  padding-right: 10px;
}
  .hero {
    background-image: url("/img/hero.jpg");
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    padding-top: 8%;
  }
